.color {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  font-family: "Barlow", sans-serif;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.color__name {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: 500;
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
}
.color::before {
  content: "کپی";
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.6rem 1.8rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.459);
  left: 50%;
  top: 50%;
  transform: translate(-50%, 200%);
  opacity: 0;
  transition: all 150ms ease-in-out;
  font-family: "iranYekan", sans-serif;
}
.color:hover::before {
  transform: translate(-50%, -50%);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .color__name {
    display: none;
  }
  .color::before {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
  }
}
