@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500@700@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #666af6;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}
body {
  font-family: "Mntsrt", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  min-height: 100vh;
}

@layer components {
  .hover-link {
    @apply py-3 px-4 cursor-pointer hover:bg-blue-50 transition-all;
  }
  .input-range {
  }
}

.accordion-content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, margin 0.5s ease-in-out;
}
.accordion-content.active {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0;
  transition: opacity 0.5s 0.3s ease, margin 0.3s ease-in-out;
  animation: dpe 0.5s;
}
@keyframes dpe {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}

.picker {
  position: relative;
}

.swatch {
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.popover {
  position: absolute;
  top: calc(-200% + 2px);
  left: 35px;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 9999;
}
