@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #666af6;
  --secondery-color: #d3e3fd;
  --background-color: #f2f6fc;
  --title-color: #292831;
  --body-color: #343352;
  --white-color: #fff;

  --xs-border-raduis: 5px;
  --s-border-raduis: 10px;
  --m-border-raduis: 15px;
  --l-border-raduis: 20px;
  --xl-border-raduis: 25px;
  --xxl-border-raduis: 30px;
  --bg-transition-hover: background 0.15s ease-in;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: iranYekan;
  src: url(./assets/fonts/iranyekanwebregularfanum.woff);
}

a {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  overflow: hidden;
}

html {
  overflow: hidden;
}
body {
  font-family: "Barlow", "iranYekan", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  background: var(--white-color);
  color: var(--body-color);
}

@layer components {
  .hover-link {
    @apply py-3 px-4 cursor-pointer hover:bg-blue-50 transition-all;
  }
  .input-range {
  }
}
