@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #666af6;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}
body {
  font-family: "Mntsrt", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  min-height: 100vh;
  transition: all 0.5s ease;
  overflow: hidden;
}

@layer components {
  .bg-primary {
    @apply bg-white;
  }
  .bg-secondery {
    @apply bg-indigo-50;
  }
  .bg-third {
    @apply bg-indigo-100;
  }
  .bg-main {
    @apply bg-indigo-500 text-white;
  }
  .bg-hover {
    @apply cursor-pointer transition-all hover:bg-indigo-500 hover:text-white;
  }
  .border-primary {
    @apply border-indigo-100;
  }
  .text-primary {
    @apply text-neutral-900;
  }
  .text-secondery {
    @apply text-indigo-500;
  }
  .dark-bg-primary {
    @apply dark:bg-neutral-900;
  }
  .dark-bg-secendery {
    @apply dark:bg-slate-700;
  }
  .dark-bg-third {
    @apply dark:bg-neutral-400;
  }
  .dark-bg-foure {
    @apply dark:bg-slate-800;
  }
  .dark-border-primary {
    @apply dark:border-neutral-700;
  }
  .dark-border-secendery {
    @apply dark:border-neutral-600;
  }
  .dark-text-primary {
    @apply dark:text-neutral-400;
  }
  .dark-text-secendery {
    @apply dark:text-neutral-200;
  }
  .dark-text-indigo {
    @apply dark:text-indigo-400;
  }
  input[type="range"] {
    @apply text-indigo-500 dark:text-slate-400;
  }
}

.accordion-content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, margin 0.5s ease-in-out;
}
.accordion-content.active {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0;
  transition: opacity 0.5s 0.3s ease, margin 0.3s ease-in-out;
  animation: dpe 0.5s;
}
@keyframes dpe {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}

.swatch {
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.popover {
  position: absolute;
  top: calc(-200% + 2px);
  left: 35px;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

  z-index: 9999;
}

.input-range {
  cursor: pointer;
}
.input-range::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 3px;
  border-radius: 5px;
  background-color: rgba(0, 4, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dark .input-range::after {
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="range"] {
  --thumb-height: 1.7em;
  --track-height: 0.18em;
  --track-color: rgba(0, 0, 0, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0em;
  --thumb-width: 0.6em;
}
.dark input[type="range"] {
  --track-color: rgba(255, 255, 255, 0.2);
}
input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
  transition: all 0.3s;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
    50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));

  filter: brightness(100%);
  -webkit-clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

/* input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: -webkit-grab;
  cursor: grab;
} */

input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
    100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

input[id="lab"].peer:checked ~ .glider {
  transform: translateX(0);
}

input[id="hsl"].peer:checked ~ .glider {
  transform: translateX(100%);
}

input[id="lch"].peer:checked ~ .glider {
  transform: translateX(200%);
}
